@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: auto;
}

body {
background: rgb(255,255,255);
border-top: .5rem solid red;
font-family: 'Lato', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
main .nav {
    display: flex;
    flex-direction: row;
}
.nav .img img {
    width: 100%;
    max-width: 220px;
    height: auto;
    position: fixed;
}

.nav .img {
    margin-right: 10rem;
    margin-left: 1.5rem;
}
.nav h3{
    text-align: center;
    font-family: Lato, Gotham, "Helvetica Neue", Arial, "sans-serif";
    margin-top: 1rem;
    margin-left: 9.2rem;
    font-size: 3rem;
}
.discover{
    text-align: center;
    margin-top: 1rem;
}
.discover h1 {
    margin: 3rem 0rem;
font-family: 'Geologica', sans-serif;   
 font-size: 2.6rem;
    
}
article{
    margin: 0rem 19rem;
}

article p {
    font-size: 1.5rem;
    font-family: Lato, Gotham, "Helvetica Neue", Arial, "sans-serif";;
}


.supplements {
    background-color: rgb(247,236,221);
    /* margin-top: 3rem; */
    margin: 3rem 13rem;
    padding: 9px;
}
.supplements h1 {
    color: rgb(66,139,202);
    text-align: center;
    padding: 5px;
    /* background-color: rgb(247,236,221); */
}
.i {
    background-color: rgb(251,251,251);
    padding: 4px;
    text-align: center;
}
article h1 {
    /* needs a CSS code here...line 107 */
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    max-width: 275px;
}

.making {
    margin: 2rem 12.2rem;
    width: 50%;
    border: 3px dashed red;
    padding: 2rem;
    background-color: bisque;
}
.making p {
    font-size: 1.5rem;
    color: rgb(95,136,83);;
}
.guarantee h3 {
    text-align: center;
     padding-top: 2rem;
}
.guarantee img {
    margin-top: 3rem;
}