@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

body {
background: rgb(255,255,255);
border-top: .5rem solid red;
font-family: 'Lato', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
main .nav {
    display: flex;
    flex-direction: row;
}
.nav .img img {
    width: 100%;
    max-width: 220px;
    height: auto;
    position: fixed;
}

.nav .img {
    margin-right: 10rem;
    margin-left: 1.5rem;
}
.nav h3{
    text-align: center;
    font-family: Lato, Gotham, "Helvetica Neue", Arial, "sans-serif";
    margin-top: 1rem;
    margin-left: 9.2rem;
    font-size: 3rem;
}
.buttonn {
    /* border: 2px solid red; */
}
.btnn{
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 1.7rem;
    height: 70px;
    width: 130px;
}
.warning {
    border-color: rgb(236,104,51);
    color: orange;
  }

  .warning:hover {
    background: rgb(236,104,51);
    color: white;
  }



.discover{
    text-align: center;
    margin-top: 1rem;
}
.discover h1 {
    margin: 3rem 0rem;
font-family: 'Geologica', sans-serif;   
 font-size: 2.6rem;
    
}
article{
    margin: 0rem 19rem;
}

article p {
    font-size: 1.5rem;
    font-family: Lato, Gotham, "Helvetica Neue", Arial, "sans-serif";;
}


.supplements {
    background-color: rgb(247,236,221);
    /* margin-top: 3rem; */
    margin: 3rem 13rem;
    padding: 9px;
}
.supplements h1 {
    color: rgb(66,139,202);
    text-align: center;
    padding: 5px;
    /* background-color: rgb(247,236,221); */
}
#i {
    background-color: rgb(251,251,251);
    padding: 4px;
    text-align: center;
}
article {
    
}
article h1 {
    /* needs a CSS code here...line 107 */
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    max-width: 275px;
}
.expert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.making {
    
    /* margin: 2rem 7rem; */
    width: 65%;
    border-radius: 5px;
    border: 3px dashed red;
    padding: 2rem;
    background-color: rgb(247,236,221);
}
.making p i {
    margin-right: 2rem;
}
.making p  {
    margin-bottom: 2rem;
}
.making p {
    font-size: 1.5rem;
    color: rgb(10,59,108);
}
.guarantee h3 {
    text-align: center;
     padding-top: 2rem;
}
.guarantee img {
    margin-top: 3rem;
}
.btn {
    border-color: rgb(236,104,51) !important;
    color: orange !important;
}
.btn:hover{
    background: rgb(236,104,51) !important;
    color: white !important;
}

footer {
    background-color: black;
    padding: 20px;
    /* margin: 0rem 19rem;  */
     text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
  footer div {
    /* border: 2rem solid black; */
  }
  footer img {
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 100%;
        height: auto;
        max-width: 175px;
  }
  footer .footer {
    text-align: center;
    max-width: 770px;
    /* border: 2rem solid green; */
  }
  footer .footer ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    text-align: center;
  }
  footer .footer ul li {
    padding: 0 7px;
    text-align: center;
    line-height: 1.3;
  }
  footer .footer ul li a {
    font-size: 15px;
    color: #479da9;
  }
  footer .footer ul li span {
    margin-left: 5px;
  }
  footer .footer .copyright p {
    line-height: 1.4;
    margin-top: 10px;
    font-size: 0.7em;
    color: #888;
    font-size: 12px;
  }
  footer .footer .copyright p:nth-child(1) {
    font-size: 14px;
    width: 90%;
    margin: 10px auto 0;
  }




  @media screen and (max-width: 700px) {

    main {
        margin: 1rem 1rem;
    }
    .nav .img img {
       display: none;
    }
    main .nav {
        display: flex;
        flex-direction: column;
    }
    .nav .h1 {
        width: 100%;
    }

    .nav .h1 h3 {
        font-size: 1rem;
    }
    .nav h3{
        text-align: center;
        font-family: Lato, Gotham, "Helvetica Neue", Arial, "sans-serif";
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 1rem;
    }
    .discover{
        text-align: center;
        margin-top: 1rem;
    }
    .discover h1 {
        margin: 1rem 0rem;
    font-family: 'Geologica', sans-serif;   
     font-size: 1.6rem;
       
  }

  .supplements {
    background-color: rgb(247,236,221);
    /* margin-top: 3rem; */
    margin: 1rem 1rem;
    padding: 5px;
}
.supplements h1 {
    color: rgb(66,139,202);
    text-align: center;
    padding: 5px;
    /* background-color: rgb(247,236,221); */
}






  article{
    /* margin: 0rem 1rem; */
    /* width: 100%; */
    margin: 1rem 1rem;
}

article p {
    font-size: 1rem;
    font-family: Lato, Gotham, "Helvetica Neue", Arial, "sans-serif";;
}
.expert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.making {
    margin: 1rem 1rem;
    width: 90%;
    border-radius: 5px;
    border: 3px dashed red;
    padding: 1rem;
    background-color: rgb(247,236,221);
}
.making p i {
    margin-right: 1rem;
}
.making p  {
    margin-bottom: 1rem;
}
.making p {
    font-size: 1rem;
    color: rgb(10,59,108);
}


.btnn{
    /* border: 2px solid black; */
    background-color: white;
    /* color: black; */
    font-size: 20px;
    cursor: pointer;
    /* margin-left: 2rem;
    margin-top: 1.7rem; */
    height: 70px;
    width: 80%;
}



footer {
    margin: 1rem 1rem;
}

footer img {
    display: none;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
    height: auto;
    max-width: 175px;
}
}